* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    background: #FFF;
    width: 1150px;
    margin: 0 auto;
}

.main-header {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
    margin: 0 auto;
    width: 1050px;
}

.main-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.logo-desktop {
    position: absolute;
    left: 50%;
    top: 9px;
    transform: translateX(-50%);
}

.top-menu-list {
    width: 525px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 220px 220px;
}

.top-menu-item {
    position: relative;
}

.top-menu-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    right: 35px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.top-menu-item:last-child::before {
    border-right: none;
}

.top-menu-link,
.cart {
    display: block;
    padding: 33px 0;
    color: #000;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

.user-menu {
    display: flex;
}

.search {
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 32px;
}

.cart {
    position: relative;
    margin-left: 85px;
}

.cart-text::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 18px;
    top: 50%;
    left: -54px;
    transform: translateY(-50%);
    background-image: url(../img/cart.svg);
    background-size: 21px 18px;
    background-repeat: no-repeat;
}

.link-bottom {
    font-size: 15px;
    font-weight: 700;
    padding: 18px 0;
}

.hero {
    position: relative;
    height: 746px;
    background-image: url(../img/hero-desktop-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 68px;
}

.hero::after {
    position: absolute;
    content: "";
    height: 34px;
    width: 100%;
    bottom: -12px;
    background-image: url(../img/zigzag-fill-desktop.svg);
    background-repeat: repeat-x;
    background-position: center;
}

.container-hero {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hero-top {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.hero-h1 {
    padding-top: 113px;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 53px;
    font-weight: 700;
    line-height: 57px;
}

.hero-bottom {
    display: flex;
    align-items: end;
    flex-grow: 1;
}

.hero-bottom-interior {
    position: relative;
    box-sizing: border-box;
    height: 120px;
    padding-top: 25px;
    padding-left: 37px;
    flex-grow: 1;
    background: #63D1BB;
}

.hero-bottom-interior::before {
    position: absolute;
    content: "";
    width: 41px;
    height: 62px;
    bottom: 30px;
    right: 35px;
    background-image: url(../img/interior.svg);
}

.hero-bottom-toy {
    position: relative;
    box-sizing: border-box;
    height: 120px;
    padding-top: 25px;
    padding-left: 37px;
    flex-grow: 1;
    background: #56C3B2;
}

.hero-bottom-toy::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 61px;
    bottom: 30px;
    right: 35px;
    background-image: url(../img/toy.svg);
}

.hero-bottom-text {
    width: 140px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.hero-link {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 58px;
}

.hero-text {
    color: #444;
    font-size: 15px;
    line-height: 24px;
}

.container-featured {
    position: relative;
    background-image: url(../img/triple-set.jpg);
    background-repeat: no-repeat;
    background-position: right top;
}

.container-featured::after {
    position: absolute;
    content: "";
    height: 32px;
    width: 100%;
    bottom: -26px;
    background-image: url(../img/zigzag-line-desktop.svg);
    background-repeat: repeat-x;
    background-position: center;
}

.content-wrap {
    position: relative;
    padding-top: 61px;
    padding-left: 175px;
    margin-bottom: 90px;
}

.featured-h2 {
    position: relative;
    font-size: 53px;
    font-weight: 700;
    line-height: 57px;
    margin-bottom: 36px;
}

.featured-wrap {
    width: 292px;
}

.featured-h2::before {
    position: absolute;
    width: 100px;
    content: "Товар недели";
    top: 9px;
    left: -142px;
    color: #63D1BB;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
}

.featured-text {
    color: #444;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 60px;
}

.desc-list {
    color: #444;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 128px;
}

.desc-item {
    position: relative;
    display: flex;
    margin-bottom: 18px;
}

.desc-item::before {
    position: absolute;
    content: "";
    width: 291px;
    height: 1px;
    top: 32px;
    background: #ECECEC;
}

.desc-term {
    width: 97px;
}

.desc-def {
    width: 160px;
}

.featured-price {
    color: #444;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 33px;
}

.featured-btn {
    width: 292px;
    height: 52px;
    border: 2px solid #444;
    background: #FFF;
    color: #444;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 73px;
}

.about-wrap {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 26px;
}

.about-h2 {
    margin-bottom: 39px;
    font-size: 53px;
    font-weight: 700;
    line-height: 57px;
}

.about-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.about-img {
    margin-bottom: 18px;
}

.about-item-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 57px;
}

.reviews {
    position: relative;
}

.reviews-h2 {
    position: absolute;
    top: 78px;
    left: 175px;
    font-size: 53px;
    font-weight: 700;
    line-height: 57px;
}

.reviews-wrap {
    position: relative;
    padding-left: 175px;
    padding-top: 170px;
}

.reviews-slide {
    background-image: url(../img/review-1.jpg);
    background-repeat: no-repeat;
    height: 457px;
    margin-bottom: 27px;
}

.reviews-text {
    color: #444;
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 44px;
}

.rewiews-autor {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
}

.rewiews-insta {
    color: #444;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}

.reviews-button {
    position: absolute;
    top: 78px;
    right: 0;
    width: 175px;
    height: 52px;
    border: 2px solid #444;
    background: #FFF;
    color: #444;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.reviews-arrow-left {
    position: absolute;
    top: 320px;
    right: 106px;
    background-color: transparent;
    border: none;
}

.reviews-arrow-right {
    position: absolute;
    top: 320px;
    right: 20px;
    background-color: transparent;
    border: none;
}
.slide-2 {
    display: none;
}
.slide-3 {
    display: none;
}